modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3002

[[ports]]
localPort = 23638
externalPort = 3003

[[ports]]
localPort = 23639
externalPort = 3000

[[ports]]
localPort = 23640
externalPort = 4200

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "stripe:1.0.0", "resend:1.0.0", "google-mail:1.0.0"]

[userenv]

[userenv.shared]
STRIPE_SECRET_KEY = "sk_test_51T9tQDLgdtb00uf4Ast84GGiZNYRrOWgEcXwsymIBBGkKdH1tiGiPSe5jlBoQoW6D8J7XQk9hgUh9ej7OFsG6p0F00D5huBe9z"
STRIPE_PUBLISHABLE_KEY = "pk_test_51T9tQDLgdtb00uf4P6EWupf7fu9JyiIEXE8UHuZHaxH8QkYN4VXiJiaMBIE6QyUf3YFZB1uBezYxrnjXzPmgexYR00o95QCp18"

[objectStorage]
defaultBucketID = "replit-objstore-a68804e3-baab-48a3-b4ca-7de80d968cc3"
